<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrello del Supermercato</title>
    <link rel="stylesheet" type="text/css" href="static/carrello.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="sticky-header">
        <div>
            <h1>Supermercato</h1>
        </div>
        <nav>
            <a href="/home">
                <i class="fas fa-shopping-cart"></i> Home
            </a>
            <a href="/profilo">
                <i class="fas fa-user"></i> Profilo Utente
            </a>
            <a href="/offerte">Offerte</a>
        </nav>
    </header>
    <br><br><br><br>
    <div class="container">
        <div class="products">
            <h2>Prodotti nel Carrello</h2>
            <ul id="cart-items">
                {% for product in products_in_cart %}
                <li data-index="{{ loop.index0 }}">
                    <span>{{ product.nome }}</span>
                    <span>{{ product.prezzo }} €</span>
                    <span>Quantità: </span>
                    <button class="quantity-controls" onclick="decreaseQuantity({{ loop.index0 }})">-</button>
                    <input type="text" class="quantity-input" value="{{ product.quantita }}" size="{{ product.quantita | string | length }}">
                    <button class="quantity-controls" onclick="increaseQuantity({{ loop.index0 }})">+</button>
                    <span class="total-price"> Prezzo: {{ (product.prezzo * product.quantita) | round(2) }} €</span>
                    <button class="remove-button" onclick="removeItem( {{ loop.index0 }} )">❌</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="summary">
            <h2>Riepilogo Carrello</h2>
            <div class="checkout">
                <p>Totale: <span id="total-price">
                    {% set total_price = 0 %}
                    {% for product in products_in_cart %}
                        {% set total_price = total_price + (product.prezzo * product.quantita) %}
                    {% endfor %}
                    {{ total_price | round(2) }} €
                </span></p>
                <div class="animated-button" onclick="purchase()">
                    <div class="left-side">
                        <div class="card">
                            <div class="card-line"></div>
                            <div class="buttons"></div>
                        </div>
                        <div class="post">
                            <div class="post-line"></div>
                            <div class="screen">
                                <div class="dollar">$</div>
                            </div>
                            <div class="numbers"></div>
                            <div class="numbers-line2"></div>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="new">Acquista</div>
                        <svg viewBox="0 0 451.846 451.847" height="512" width="512" xmlns="http://www.w3.org/2000/svg" class="arrow">
                            <path fill="#cfcfcf" d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="checkout" align="center"><button onclick="returnToShop()">Torna allo Shop</button></p>

    <script src="static/script.js"></script>
    <script>
        function returnToShop() {
            window.location.href = "/home";
        }
        function purchase() {
            alert("Acquisto completato con successo!");
        }
    </script>
</body>
</html>
