body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header h1 {
    font-size: 24px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.content {
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.card {
    position: relative;
    width: 250px;
    height: 400px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.5em;
    text-align: center;
}

.card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: absolute;
    bottom: 4em;
    font-weight: 600;
    color: #000;
}

.card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    position: absolute;
    bottom: 2em;
    color: #000;
}

.card .add-to-cart {
    display: none; /* Nascondi il pulsante di default */
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card:hover .add-to-cart { /* Mostra il pulsante solo durante l'hover sulla card */
    display: flex;
}

.card .add-to-cart button {
    background-color: #727272;
    color: white;
    border: 2px solid black; /* Contorno nero */
    padding: 10px 0; /* Altezza del pulsante */
    width: 100%; /* Larghezza del pulsante */
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease;
}

.card .add-to-cart button:hover {
    background-color: #3c3d3d;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: rgb(55, 48, 46);
    color: #944949;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: bottom 0.3s;
}
footer a {
    color: #777777; /* Grigio */
}
